[Unit]
Description=wei
After=syslog.target network.target

[Service]
Type=forking
Restart=always
ExecStart=/data/server/api/wei/start.sh

[Install]
WantedBy=multi-user.target
