[Unit]
Description=wei
After=syslog.target network.target

[Service]
Type=forking
Restart=always
ExecStart=/bin/sh -c /data/wei/start.sh

[Install]
WantedBy=multi-user.target
